* {
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: rgb(223, 223, 223) !important;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 0px 10px #9a9a9a;
}

.navbar-nav {
  font-size: 15px;
}

.jumbotron {
  font-family: "Poppins", sans-serif;
}

.btn-jum {
  background-color: black !important;
}
